//colores

$color-principal: #69375d;
$font-color-principal: #3d1c35;
$font-color-secondary: #b3b3b3;
$font-color-extra: white;

//font sizes

$font-small: 1rem;
$font-medium: 2rem;
$font-xl: 3rem;
$font-xxl: 4rem;




