section {
    @include flex-center;
    gap: 20px; 
    margin: 20px; 
  
    
  
    div {
      flex-grow: 1; 
      max-width: 600px; 
  
      h2 {
        color: $font-color-principal; 
        font-size: 4rem; 

      }
  
      p {
        color: $font-color-secondary; 
        font-size: 1.5rem; 
        margin-bottom: 10px; 
      }
    }
  }
  