.blog-entry {
  @include flex-center;
  gap: 20px; // 
  margin: 20px; 
  padding: 20px; 

  img {
    max-width: 40%; 
    height: auto; 
    border-radius: 20px; 
  }

  article {
    flex-grow: 1; 
    max-width: 600px; 

    h2 {
      color: $font-color-principal; 
      font-size: $font-xl; 
    }

    p {
      color: #666; 
      font-size: $font-medium; 
    }

    
  }
}
