.encabezado {
  display: flex;  
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;

  .navbar {
    font-size: $font-medium;
  }
}


  


// imagenes servicios

.articles {
  @include flex-center;
  gap: 2rem;
  padding-top: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
 

  .article {
    @include flex-center;
    gap: 1.5rem;
    flex: 0.5 0.5 clamp(300px, 30%, 400px);

    a {
      text-decoration: none;
      color: $font-color-secondary;
      font-family: 'Poppins', sans-serif;
      font-size: $font-xl;
      font-weight: 300;
    }

    h1 {
      color: $font-color-principal;
      font-size: $font-xxl;
    }

    ul {
      list-style-type: none;
    }
  }
}

input {
  font-size: $font-medium;
}


//formulario

$formulario-color: white;
$formulario-bg-color: #622D55;
$formulario-border-radius: 15px;
$formulario-max-width: 1200px;
$formulario-padding: 20px;

.formulario {
  color: $formulario-color;
  background-color: $formulario-bg-color;
  border-radius: $formulario-border-radius;
  max-width: $formulario-max-width;
  margin: 0 auto;
  padding: $formulario-padding;
}

@media (max-width: 600px) {
  .formulario {
      padding: 10px;
  }
}

//footer

/* Estilos generales del footer */
.footer {
  background-color: $color-principal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;

  .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    

    a {
      margin-left: 1rem;
      margin-right: 1rem;
      text-decoration: none;
      text-align: center;
      color: $font-color-extra;
    }
  }

  .texto {
    margin-top: 2rem; 
    font-size: small;
    text-align: right;
    color: $font-color-extra
  }

  /* Estilos para el footer responsive */
  @media (max-width: 768px) {
    margin-top: 2rem;

    .redes {
      flex-wrap: wrap;

      a {
        margin: 0.5rem;
      }
    }
  }
}

//animaciones 